:root {
  --primary: #00d9ff;
  --secondary: #ff8800;
  --back: #f1f1f1;
  --action: #4f2012;
  --border-radius: 15px;
  --btn-padding: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../img/fond2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /* background-color: var(--back); */
  /* font-family: sans-serif; */
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 200px;
  color: #493b30;
}
h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 35px;
  color: #3b2901;
  margin-top: 10px;
}
.img {
  height: 60px;
  width: 60px;
}
/* .style {
  font-family: 'Lobster', cursive;
  color: #b85103;
} */

.score {
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 20px;
  text-align: center;
  font-size: 35px;
  background-color: #8b9095;
  padding: var(--btn-padding);
  border-radius: 40px;
}

#reset {
  font-size: 12px;
  grid-column: span 2;
  cursor: pointer;
}

#reset:hover {
  color: var(--action);
}

.action {
  margin-bottom: 40px;
  text-align: center;
}
.new {
  font-family: 'Lobster', cursive;
  text-align: center;
  color: #886410;
}

#message {
  /* font-size: 25px; */
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 35px;
  color: #f5ce74;
  margin-top: 10px;
}

#next {
  margin-top: 20px;
  padding: 10px 30px;
  background-color: var(--action);
  color: white;
  border-radius: var(--border-radius);
  visibility: hidden;
  cursor: pointer;
}

#next.active {
  visibility: visible;
}

.jeu {
  border-top: 1px solid black;
  padding-top: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 200px;
}

.button {
  display: flex;
  align-items: center;
  font-size: 45px;
  padding: var(--btn-padding);
}

.btn-joueur,
.btn-ordi {
  border-radius: 15px;
  transition: all 0.2s ease;
}

.btn-joueur {
  cursor: pointer;
  background-color: #8b9095;
}

.btn-joueur:hover {
  color: var(--primary);
}

.button p {
  margin-left: 20px;
}

.button:not(:last-child) {
  margin-bottom: 40px;
}

.btn-joueur.desactivated {
  background-color: var(--back);
  cursor: default;
}

.btn-joueur.desactivated:hover,
.btn-joueur.active {
  color: inherit;
}

.btn-joueur.active {
  background-color: var(--primary);
}

.btn-ordi.active {
  background-color: var(--secondary);
}

/* ----------------------------cssmodif------------------------------ 
body {
  height: 100%;
  background: url(../img/fond2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
img {
  height: 100%;
  width: 100%;
}
.picture {
  margin-top: 20px;
  height: 60px;
  width: 60px;
  margin-left: 20px;
}
.pictureJ {
  margin-top: 20px;
  height: 60px;
  width: 60px;
  margin-left: 20px;
}
.btn-joueur {
  cursor: pointer;
}

.joueur {
  margin-top: 80px;
  background-color: rgb(66, 53, 53);
  height: 400px;
  width: 200px;
  border-radius: 25px;
}

p {
  padding-top: 40px;
  margin-left: 20px;
  font-family: 'Lobster', cursive;
  font-size: 20px;
  text-align: center;
  color: rgb(247, 246, 214);
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 200px;
  color: #493b30;
}
@media screen and (max-width: 600px) {
  .h1 {
    font-size: 50px;
  }
}
.ordi {
  margin-top: 80px;
  background-color: rgb(66, 53, 53);
  height: 400px;
  width: 200px;
  border-radius: 25px;
}

.imageVs {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 90px;
  margin-top: 20px;
  margin-left: 20px;
}

.picplay {
  color: rgb(36, 22, 7);
}

h4 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 35px;
  color: #f5ce74;
  margin-top: 10px;
}

hr {
  color: #f5ce74;
  font-size: 50px;
}

.msg {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 35px;
  color: #f5ce74;
  margin-top: 10px;
} */
